@font-face {
	font-family: "HEX Franklin v0.3 Variable";
	src: url("/fonts/hex-franklin-variable.woff2") format("woff2");
	font-weight: 1 1000;
	font-stretch: 60% 120%;
	font-style: normal;
	font-display: swap;
}

.logotype {
	font-family: "HEX Franklin v0.3 Variable";
	font-style: normal;
	font-weight: 800;
	font-stretch: 70%;
	font-variation-settings: "wdth" 70, "wght" 800;
	font-size: 120px;
	line-height: 100%;
	leading-trim: both;
	text-edge: cap;
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
	display: flex;
	align-items: center;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.logotype:hover {
	color: #000;
}

.title-alt {
	font-family: "HEX Franklin v0.3 Variable";
	font-style: normal;
	font-variation-settings: "wdth" 90, "wght" 800;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: -0.03em
}
