:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
}

.has-sidebar .sidebar {
  flex-basis: 32rem;
  padding: 0;
  background-color: transparent;
  height: calc(100dvh - 2rem);
}

.stack .fill {
  flex-grow: 1;
}