:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
}

.has-sidebar .sidebar {
  flex-basis: 32rem;
  padding: 0;
  background-color: transparent;
  height: calc(100dvh - 2rem);
}

.stack .fill {
  flex-grow: 1;
}

.split {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: start;
}

.split > * {
  flex: 1 1 calc(50% - 0.625rem);
  min-width: min-content;
}

.page-main {
  flex: 1 0 auto;
  row-gap: 0;
}

.page-main-spacer {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
}